.wrapper {
    width: 150px;

    .options {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .links {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
        button {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}