<div class="wrapper">
  <mat-toolbar color="primary">AEM Control</mat-toolbar>
  <div class="options">
    <mat-slide-toggle [checked]="isContentFinderEnabled()">Content Finder</mat-slide-toggle>
    <mat-slide-toggle [checked]="isWcmModeEnabled()">WCM Mode</mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="links">
    <button mat-button>Site Admin</button>
    <button mat-button>CRX</button>
    <button mat-button>DAM</button>
    <button mat-button>CRX</button>
  </div>
</div>