<div class="wrapper">
  <mat-toolbar color="primary">AEM Control</mat-toolbar>
  <div class="options">
    <mat-slide-toggle [checked]="isContentFinderEnabled()" (change)="contentFinderToggleChange()">Content Finder
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="isWcmModeEnabled()" (change)="wcmModeToggleChange()">WCM Mode</mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="links">
    <button mat-button (click)="siteAdminClick($event)">Site Admin</button>
    <button mat-button (click)="crxClick($event)">CRX</button>
    <button mat-button (click)="damAdminClick($event)">DAM</button>
    <button mat-button (click)="configManagerClick($event)">Config Manager</button>
    <button mat-button (click)="userAdminClick($event)">User Admin</button>
  </div>
</div>